.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
  gap: var(--spacing-main);
  margin: 0 auto;

  &_stylists {
    grid-template-columns: repeat(2, 1fr);
  }

  &_products {
    grid-template-columns: repeat(2, 1fr);
  }

  &_gallery {}

  &_services {}
}
