.grid {
  display: grid;
  grid-auto-columns: minmax(100px, 400px);
  grid-template-rows: auto;
  gap: var(--spacing-main);
  grid-template-columns: repeat(1, 1fr);
  @include respond(tab-land) {
    margin: initial;
  }
  @include respond(small) {
    grid-template-columns: repeat(2, 1fr);
  }
  @include respond(webWidthNBeyond) {
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto var(--page-element-margin);
  }
  @include respond(phone) {
    grid-template-columns: repeat(3, 1fr);
  }

  &_stylists {
    min-width: 18rem;
    margin-bottom: 0;
  }

  &_product-brands {
    grid-template-columns: repeat(5, 1fr);
    gap: 3rem;
    @include respond(webWidthNBeyond) {
      width: -webkit-fill-available;
    }
  }

  &_gallery {
  }

  &_services {
    @include respond(small) {
      grid-template-columns: repeat(1, 1fr);
    }

    @include respond(webWidthNBeyond) {
      grid-template-columns: repeat(3, 1fr);
      margin: var(--page-element-margin) auto 0;
      width: -webkit-fill-available;
    }
  }
}
