.page-container {
  flex: 1 1 auto;
  // min-height: calc(100vh - (var(--header-height) + var(--footer-height)));
  position: relative;
  overflow: auto;
  background-image: linear-gradient(to right bottom,
      rgba(255, 0, 0, 0.8),
      rgba(0, 128, 0, 0.8)),
    url(../../assets/img/pages/DSC_2042.jpg);
  background-size: cover;

  &:has(.page.home) {
    position: static;
    overflow: visible;
  }
}
