.page {
  @include dhdGrid();
  height: var(--page-container-height);
  overflow: auto;
  padding: var(--spacing-main);

  @include respond(phone) {
  }

  @include respond(beyondMobileWidth) {
  }
  &__subgrid {
    display: grid;
    height: max-content;
    grid-template-columns: subgrid;
    grid-column: var(--full-page-column-span);
    gap: var(--grid-gap);
  }
}
