.page {
  @include dhdGrid();
  height: var(--page-container-height);
  overflow: auto;

  @include respond(small) {
    padding: var(--spacing-main);
  }

  @include respond(beyondMobileWidth) {
  }
  &__subgrid {
    @include dhdGrid(var(--grid-gap), true);
    height: max-content;
    @include snazzyBgNBorder();
  }
}
