.wrapper {
  height: 100vh;
  /* mobile viewport bug fix */
  height: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;

  // &::before {
  //   content: "";
  //   position: absolute;
  //   right: 0;
  //   bottom: var(--footer-height);
  //   left: 0;
  //   height: var(--footer-height);
  //   z-index: 1;
  //   @include transparentGradient();
  // }
}
