.wrapper {
  height: 100vh;
  /* mobile viewport bug fix */
  height: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  @include backgroundGradient(
    "/assets/img/pages/home_1.jpg",
    cover,
    center,
    saturation,
    0.6
  );
  &:not(:has(.page.home)) {
  }
  transition: background-image 0.5s ease-in-out;
}
