.footer {
  color: var(--color-white);
  flex: 0 0 var(--footer-height);
  display: flex;
  background-color: var(--color-overlay-dark);
  align-items: center;
  z-index: 51;
  padding: 0 0.5rem;
  transition: background-color 250ms;
  // @include transition("background-color", 250);

  &__contact-info {
    flex: 1 0 1px;
    display: flex;
    align-items: center;
    font-size: 1.2em;

    @include respond(phone) {
      margin-right: 4rem;
    }
  }

  &__contact-info &__icon:first-of-type {
    padding-left: 0;
  }

  &__button {
    // background-color: green;
    display: flex;
    align-items: center;
    margin-right: 1rem;
  }

  &__text {
    margin-left: -6px;
    font-family: "League Spartan";
    line-height: 1;
  }

  &__text a {
    color: inherit;
    text-decoration: none;
  }

  &__social-media {
    flex: 0 0 auto;
    align-self: stretch;
    display: flex;
    align-items: center;

    a {
      display: flex;
      align-items: center;
    }
  }

  &__social-media &__icon:last-of-type {
    padding-right: 0;

    @include respond(phone) {
      padding-right: inherit;
    }
  }

  &__icon {
    flex: 0 0 var(--hit-zone);
    width: var(--hit-zone);
    height: var(--hit-zone);
    fill: var(--color-white);
    font-size: 9px;
    padding: 1.5em;
  }

  @include respond(phone) {
    // margin: 0 auto;
    justify-content: center;
  }
  &_home {
    background-color: rgba(var(--color-primary-dark), 0);
  }
}
