.footer {
  flex: 0 0 var(--footer-height);
  padding: 0 var(--spacing-main);
  @include dhdGrid();
  @include blurBackground(0.8, var(--rgb-primary-dark));

  &__contact{
    grid-column: col-start 1 / col-end 6;
    display: flex;
    .footer__icon {
      @include iconDoIt(var(--color-white), 1.2em 1.2em 1.2em 0);
      &_map {
        padding: 1.2em 0;
        width: 3.6rem;
        flex: 0 0 auto;
      }
    }
  }

  &__button {
    display: flex;
    align-items: center;
    margin-right: var(--grid-gap);
    cursor: pointer;
  }

  &__text {
    margin-left: 0;
    padding-top: 0.6rem;
    line-height: 1;
  }

  &__social-media {
    grid-column: col-start 7 / col-end 12;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .link {
      display: flex;
      align-items: center;
    }
    .footer__icon {
      @include iconDoIt(var(--color-white), 1.2em 0 1.2em 1.2em);
    }
  }

  &_home {
    @include blurBackground(0.5, var(--rgb-primary-dark));
  }
}
