.footer {
  flex: 0 0 var(--footer-height);
  display: flex;
  align-items: center;
  z-index: 51;
  padding: 0 2rem;
  background-color: var(--color-primary-dark);
  color: var(--color-primary-light);

  &__contact-info {
    flex: 1 0 1px;
    display: flex;
    align-items: center;
    font-size: 1.2em;
  }

  &__contact-info &__icon:first-of-type {
    padding-left: 0;
  }

  &__text {
    margin-left: -6px;
    margin-bottom: -4px;
  }

  &__social-media {
    flex: 0 0 auto;
    align-self: stretch;
    display: flex;
    align-items: center;
  }

  &__social-media &__icon:last-of-type {
    padding-right: 0;
  }

  &__icon {
    flex: 0 0 var(--hit-zone);
    width: var(--hit-zone);
    height: var(--hit-zone);
    fill: var(--color-primary-light);
    font-size: 9px;
    padding: 1em;
  }
}
