.header {
  flex: 0 0 var(--header-height);
  height: var(--header-height);
  transform: translateY(0);
  transition: transform 500ms;
  z-index: 50;
  text-align: center;
  cursor: pointer;
  background-color: var(--color-primary-ultra-dark);

  &_home {
    transform: translateY(calc(var(--header-height) * -1));
  }

  &__logo {
    padding: var(--spacing-main);
    height: var(--header-height);
    width: 100vw;
    max-width: 40rem;
    fill:  var(--color-white);
    @include respond(beyondMobileWidth) {
      padding: 1.5rem var(--spacing-main) var(--spacing-main);
    }
  }
}
