.header {
  flex: 0 0 var(--header-height);
  height: var(--header-height);
  background-color: rgb(var(--rgb-primary-dark));
  transform: translateY(0);
  transition: transform 500ms;
  z-index: 50;
  cursor: pointer;

  &_home {
    transform: translateY(calc(var(--header-height) * -1));
    background-color: rgba(var(--color-primary-dark), 0.0);
  }

  &__logo {
    padding: var(--spacing-main);
    height: var(--header-height);
    width: 100vw;
    fill:  var(--color-white);
    @include respond(webWidthNBeyond) {
      padding: 1.5rem var(--spacing-main) var(--spacing-main);
    }
  }
}
