// $navItems: "Services", "Stylists", "Products", "Gallery", "Chair Rental";
$navItems: "Services", "Stylists", "Products", "Chair Rental";
$navItemsLength: length(
  $list: $navItems,
);

.main-nav {
  position: absolute;
  width: 18rem;
  height: var(--main-nav-height);
  right: 50%;
  max-width: 95rem;
  bottom: calc(var(--footer-height) + 1rem);
  transform: translateX(50%);
  transition: all 500ms;
  z-index: 150;

  @include respond(beyondMobileWidth) {
    top: var(--header-height);
    right: 0;
    bottom: unset;
    left: 0;
    width: 100vw;
    max-width: none;
    transform: none;
    height: var(--main-nav-height-web);
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--color-primary-ultra-dark);
  }

  &_home {
    .main-nav__link {
      background-color: var(--color-primary);
      @include respond(beyondMobileWidth) {
        background-color: transparent;
      }
    }
    @include respond(beyondMobileWidth) {
      top: 0;
    }
  }

  &_collapsed {
    height: var(--collapsed-container-height);
    width: 100vw;
    bottom: calc(var(--footer-height));
    @include respond(beyondMobileWidth) {
      height: auto;
      bottom: auto;
    }
  }

  &_collapsed &_active {
    top: 0;
  }

  &__link {
    font-family: "Red Hat Display", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.7rem;
    text-transform: uppercase;
    @include flexCenter();
    height: var(--hit-zone);
    background-color: var(--color-primary-dark);
    position: absolute;
    left: 0;
    right: 0;
    transition: top 500ms, border-bottom 500ms, background-color 500ms, color 500ms;

    @for $i from 0 through $navItemsLength {
      &_#{$i} {
        z-index: calc(75 - #{$i});
        top: calc(#{$i} * (var(--main-nav-height) / #{$navItemsLength}));
      }
    }

    @include on-event(true) {
      color: inherit;
      text-decoration-line: none;
    }

    @include on-event {
      background-color: var(--color-primary-ultra-dark);
      @include respond(beyondMobileWidth) {
        background-color: transparent;
        border-bottom: var(--border-width) solid var(--color-white);
      }
    }

    &::selection {
      background-color: transparent;
      color: inherit;
    }

    @include respond(beyondMobileWidth) {
      flex: 0 1 auto;
      height: var(--main-nav-height-web);
      position: static;
      padding: 0 1.5rem;
      border-bottom: var(--border-width) solid transparent;
      background-color: transparent;
      color: var(--color-primary-grey);
    }

    &_active.main-nav__link {
      z-index: 76;
      // background-color: var(--color-primary-ultra-dark);
      background-color: var(--color-primary);
      @include respond(beyondMobileWidth) {
        color: var(--color-white);
        background-color: transparent;
        border-bottom: var(--border-width) solid var(--color-white);
      }
    }
  }

  &_collapsed &__link {
    top: 0;
    height: var(--collapsed-container-height);
  }
}
