$navItems: "Services", "Stylists", "Products", "Gallery", "Chair Rental";
$navItemsLength: length(
  $list: $navItems,
);

.main-nav {
  position: absolute;
  z-index: 3;
  width: 14rem;
  height: var(--main-nav-height);
  right: 50%;
  bottom: calc(var(--footer-height) + 1rem);
  transform: translateX(50%);
  transition: all 500ms;
  z-index: 4000;
  &_home {
    .main-nav__link {
      background-color: var(--color-primary);
    }
  }

  &_collapsed {
    height: var(--hit-zone);
    width: 100vw;
    bottom: calc(var(--footer-height));
    transition: all 500ms;
  }

  &_collapsed &_active {
    top: 0;
    transition: top 250ms;
  }

  &__link {
    position: absolute;
    left: 0;
    right: 0;
    font-family: "futura-pt", sans-serif;
    font-weight: 300;
    font-style: normal;
    text-transform: uppercase;
    @include flexCenter();
    height: var(--hit-zone);
    font-size: 1.9rem;
    background-color: var(--color-primary-dark);
    border-bottom: 2px solid hsla(0, 0%, 100%, 1);
    transition: top 250ms;

    @for $i from 0 through $navItemsLength {
      &_#{$i} {
        z-index: calc(100 - #{$i});
        top: calc(#{$i} * (var(--main-nav-height) / #{$navItemsLength}));
      }
    }

    &_active {
      z-index: 101;
      background-color: var(--color-primary);
    }

    @include on-event(true) {
      color: var(--color-white);
      text-decoration-line: none;
      transition: all 250ms;
    }

    @include on-event {
      background-color: var(--color-primary);
    }

    &::selection {
      background-color: transparent;
      color: inherit;
    }
  }

  &_collapsed &__link {
    top: 0;
    transition: top 500ms;
    border-bottom: 0 solid hsla(0, 0%, 100%, 0)
  }
}
