.mobile-nav-blur {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 100;
  opacity: 0;
  backdrop-filter: blur(16px);
  transition: opacity 1s ease, background-color ease;
  pointer-events: none;
  &_show {
    opacity: 1;
    pointer-events: auto;
  }
}
