.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 150;
  &__wrapper {
    display: flex;
    flex-direction: column;
    height: calc(100dvh - var(--spacing-main) * 4);
    width: calc(100vw - var(--spacing-main) * 4);
    background-color: var(--color-primary-dark);
    z-index: 125;
    max-width: calc(100vw - var(--spacing-main) * 2);
    overflow: hidden;
    @include respond(phone) {
      width: auto;
      max-height: calc(100dvh - var(--spacing-main) * 2);
    }
  }
  &__header {
    order: 2;
    flex: 0 0 auto;
    height: var(--hit-zone);
    display: flex;
    align-items: center;
    justify-content: center;
    @include respond(phone) {
      order: 0;
      justify-content: flex-start;
    }
  }
  &__close-button {
    cursor: pointer;
    @include iconDoIt(var(--color-primary-dark));
    width: 100%;
    flex: 0 0 auto;
    padding: 1.3rem 1rem 0.7rem;
    fill: var(--color-white);
    @include respond(phone) {
      flex: 0 0 var(--hit-zone);
      width: var(--hit-zone);
    }
  }
  &__content {
    flex: 1 1 auto;
  }
  &__backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    @include blurBackground(0.9, var(--rgb-primary-ultra-dark));
    z-index: 120;
  }
}
