.modal-stylist {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: calc(var(--spacing-main) * 7);
  justify-items: center;
  align-content: center;
  padding: calc(var(--spacing-main) * 3);
  text-align: center;
  color: var(--color-primary-dark);
  background-color: var(--color-white);
  max-height: calc(100dvh - (var(--spacing-main) * 2) - (var(--hit-zone)));
  &__thumbnail {
    max-width: 35vh;
  }
  .paragraph,
  &__paragraph {
    margin-bottom: 0;
    // margin: calc(var(--spacing-main) * 6) calc(var(--spacing-main) * 4);
    @include respond(phone) {
      // margin: calc(var(--spacing-main) * 2) 0;
    }
    font-size: 1.1em;
  }
  @include respond(small){
    grid-gap: calc(var(--spacing-main)* 2);
  }
  @include respond(phone){
    grid-gap: calc(var(--spacing-main)* 3);
  }
  @include respond(tablet) {
    grid-gap: calc(var(--spacing-main)* 2);
  }
}
