.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 150;
  &__wrapper {
    display: flex;
    flex-direction: column;
    height: calc(100vh - var(--spacing-main) * 4);
    width: calc(100vw - var(--spacing-main) * 4);
    z-index: 125;
    background-color: var(--color-white);
    @include respond(phone) {
      max-height: calc(100vh - var(--spacing-main) * 2);
      max-width: calc(100vw - var(--spacing-main) * 2);
    }
  }
  &__header {
    flex: 0 0 auto;
    height: var(--hit-zone);
    display: flex;
    align-items: center;
  }
  &__close-button {
    cursor: pointer;
    @include iconDoIt(var(--color-primary-dark));
    padding: 2rem 0 0 2rem;
  }
  &__content {
    flex: 1 1 auto;
    padding: 1rem 2rem 2rem
  }
  &__backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--color-primary-dark);
    opacity: 0.85;
    z-index: 120;
  }
}
