.thumbnail {
  // max-width: 28.5rem;
  overflow: hidden;

  &__image {
    img {
      display: block;
      width: 100%;
    }
    &_clickable {
      cursor: pointer;
    }
  }

  &__details {
    display: flex;
    justify-content: flex-end;
    height: calc(var(--hit-zone) * 2);
    @include darkBlurBackground();
  }

  &__icon-stack {
    display: flex;
    flex-direction: column;
    width: var(--hit-zone);
  }

  &__icon {
    @include iconDoIt(var(--color-primary-ultra-light), 0.5em, $fontSize: unset);
  }

  &__link {
    display: block;
    height: var(--hit-zone);
    width: var(--hit-zone);
  }
}

.stylist {
  &__name {
    flex: 1 0 auto;
    padding: 1rem 1rem 2.2rem;
    line-height: 1;
    font-family: "League Spartan";

    &_first {
      color: var(--color-white);
      font-size: 3rem;
    }

    &_last {
      font: normal normal 2.3rem / 0.5em "Neuton", serif;
      color: var(--color-primary-ultra-light);
    }
  }
}
