<div class="page__subgrid services__listing">
  <div class="text-block text-block_statement text-block_statement_above">
    <p class="paragraph">Explore the wide range of services we offer to help you look and feel your best.</p>
  </div>
  @for (serviceType of allServices; track serviceType; let i = $index) {
  <div [class]="'text-block_section services__item services__item_'+(i+1)">
    <div class="text_title text-block_title">{{ serviceType.type }}</div>
    <div class="text-block_content">
      @for (service of allServices[i].salonServices; track service; let j = $index) {
      <span [class]="'text-block_list-item text-block_list-item_'+(j+1)">{{ service.name }}</span>
      }
    </div>
  </div>
  }
  <div class="text-block text-block_note">
    Pricing varies, and is determined by the stylist performing your service.
  </div>
</div>
