<div class="text-block text-block_statement">
 Maybe we want to say something about our awesome stylists?</div>
<div class="grid grid_stylists">
    <dhd-thumbnail [type]="thumbnailType" image="stylist">
        <div class="stylist__name">
            <div class="stylist__name_first">Krista</div>
            <div class="stylist__name_last">Snider</div>
        </div>
        <div class="thumbnail__icon" icon="info-square"></div>
    </dhd-thumbnail>
    <dhd-thumbnail [type]="thumbnailType" image="stylist">
        <div class="stylist__name">
            <div class="stylist__name_first">Krista</div>
            <div class="stylist__name_last">Snider</div>
        </div>
        <div class="thumbnail__icon" icon="info-square"></div>
    </dhd-thumbnail>
    <dhd-thumbnail [type]="thumbnailType" image="stylist">
        <div class="stylist__name">
            <div class="stylist__name_first">Krista</div>
            <div class="stylist__name_last">Snider</div>
        </div>
        <div class="thumbnail__icon" icon="info-square"></div>
    </dhd-thumbnail>
    <dhd-thumbnail [type]="thumbnailType" image="stylist">
        <div class="stylist__name">
            <div class="stylist__name_first">Krista</div>
            <div class="stylist__name_last">Snider</div>
        </div>
        <div class="thumbnail__icon" icon="info-square"></div>
    </dhd-thumbnail>
    <dhd-thumbnail [type]="thumbnailType" image="stylist">
        <div class="stylist__name">
            <div class="stylist__name_first">Krista</div>
            <div class="stylist__name_last">Snider</div>
        </div>
        <div class="thumbnail__icon" icon="info-square"></div>
    </dhd-thumbnail>
    <dhd-thumbnail [type]="thumbnailType" image="stylist">
        <div class="stylist__name">
            <div class="stylist__name_first">Krista</div>
            <div class="stylist__name_last">Snider</div>
        </div>
        <div class="thumbnail__icon" icon="info-square"></div>
    </dhd-thumbnail>
    <dhd-thumbnail [type]="thumbnailType" image="stylist">
        <div class="stylist__name">
            <div class="stylist__name_first">Krista</div>
            <div class="stylist__name_last">Snider</div>
        </div>
        <div class="thumbnail__icon" icon="info-square"></div>
    </dhd-thumbnail>
    <dhd-thumbnail [type]="thumbnailType" image="stylist">
        <div class="stylist__name">
            <div class="stylist__name_first">Krista</div>
            <div class="stylist__name_last">Snider</div>
        </div>
        <div class="thumbnail__icon" icon="info-square"></div>
    </dhd-thumbnail>
    <dhd-thumbnail [type]="thumbnailType" image="stylist">
        <div class="stylist__name">
            <div class="stylist__name_first">Krista</div>
            <div class="stylist__name_last">Snider</div>
        </div>
        <div class="thumbnail__icon" icon="info-square"></div>
    </dhd-thumbnail>
    <dhd-thumbnail [type]="thumbnailType" image="stylist">
        <div class="stylist__name">
            <div class="stylist__name_first">Krista</div>
            <div class="stylist__name_last">Snider</div>
        </div>
        <div class="thumbnail__icon" icon="info-square"></div>
    </dhd-thumbnail>
    <dhd-thumbnail [type]="thumbnailType" image="stylist">
        <div class="stylist__name">
            <div class="stylist__name_first">Krista</div>
            <div class="stylist__name_last">Snider</div>
        </div>
        <div class="thumbnail__icon" icon="info-square"></div>
    </dhd-thumbnail>
    <dhd-thumbnail [type]="thumbnailType" image="stylist">
        <div class="stylist__name">
            <div class="stylist__name_first">Krista</div>
            <div class="stylist__name_last">Snider</div>
        </div>
        <div class="thumbnail__icon" icon="info-square"></div>
    </dhd-thumbnail>
</div>
