<div class="grid grid_stylists">
    <dhd-thumbnail [type]="thumbnailType" image="stylist">
        <div class="stylist__name">
            <div class="stylist__name-first">Krista</div>
            <div class="stylist__name-last">Snider</div>
        </div>
        <fa-icon class="thumbnail__icon" icon="info-square"></fa-icon>
    </dhd-thumbnail>
    <dhd-thumbnail [type]="thumbnailType" image="stylist">
        <div class="stylist__name">
            <div class="stylist__name-first">Krista</div>
            <div class="stylist__name-last">Snider</div>
        </div>
        <fa-icon class="thumbnail__icon" icon="info-square"></fa-icon>
    </dhd-thumbnail>
    <dhd-thumbnail [type]="thumbnailType" image="stylist">
        <div class="stylist__name">
            <div class="stylist__name-first">Krista</div>
            <div class="stylist__name-last">Snider</div>
        </div>
        <fa-icon class="thumbnail__icon" icon="info-square"></fa-icon>
    </dhd-thumbnail>
    <dhd-thumbnail [type]="thumbnailType" image="stylist">
        <div class="stylist__name">
            <div class="stylist__name-first">Krista</div>
            <div class="stylist__name-last">Snider</div>
        </div>
        <fa-icon class="thumbnail__icon" icon="info-square"></fa-icon>
    </dhd-thumbnail>
    <dhd-thumbnail [type]="thumbnailType" image="stylist">
        <div class="stylist__name">
            <div class="stylist__name-first">Krista</div>
            <div class="stylist__name-last">Snider</div>
        </div>
        <fa-icon class="thumbnail__icon" icon="info-square"></fa-icon>
    </dhd-thumbnail>
    <dhd-thumbnail [type]="thumbnailType" image="stylist">
        <div class="stylist__name">
            <div class="stylist__name-first">Krista</div>
            <div class="stylist__name-last">Snider</div>
        </div>
        <fa-icon class="thumbnail__icon" icon="info-square"></fa-icon>
    </dhd-thumbnail>
    <dhd-thumbnail [type]="thumbnailType" image="stylist">
        <div class="stylist__name">
            <div class="stylist__name-first">Krista</div>
            <div class="stylist__name-last">Snider</div>
        </div>
        <fa-icon class="thumbnail__icon" icon="info-square"></fa-icon>
    </dhd-thumbnail>
    <dhd-thumbnail [type]="thumbnailType" image="stylist">
        <div class="stylist__name">
            <div class="stylist__name-first">Krista</div>
            <div class="stylist__name-last">Snider</div>
        </div>
        <fa-icon class="thumbnail__icon" icon="info-square"></fa-icon>
    </dhd-thumbnail>
    <dhd-thumbnail [type]="thumbnailType" image="stylist">
        <div class="stylist__name">
            <div class="stylist__name-first">Krista</div>
            <div class="stylist__name-last">Snider</div>
        </div>
        <fa-icon class="thumbnail__icon" icon="info-square"></fa-icon>
    </dhd-thumbnail>
    <dhd-thumbnail [type]="thumbnailType" image="stylist">
        <div class="stylist__name">
            <div class="stylist__name-first">Krista</div>
            <div class="stylist__name-last">Snider</div>
        </div>
        <fa-icon class="thumbnail__icon" icon="info-square"></fa-icon>
    </dhd-thumbnail>
    <dhd-thumbnail [type]="thumbnailType" image="stylist">
        <div class="stylist__name">
            <div class="stylist__name-first">Krista</div>
            <div class="stylist__name-last">Snider</div>
        </div>
        <fa-icon class="thumbnail__icon" icon="info-square"></fa-icon>
    </dhd-thumbnail>
    <dhd-thumbnail [type]="thumbnailType" image="stylist">
        <div class="stylist__name">
            <div class="stylist__name-first">Krista</div>
            <div class="stylist__name-last">Snider</div>
        </div>
        <fa-icon class="thumbnail__icon" icon="info-square"></fa-icon>
    </dhd-thumbnail>
</div>
