  <div class="footer__contact">
    <div class="footer__button">
      <svg class="footer__icon">
        <use xlink:href="../../../assets/img/sprite.svg#phone-icon"></use>
      </svg>
        <a class="link footer__text" href="tel:+17202977593">720.297.7593</a>
    </div>
    <div class="footer__button" (click)="openMap()">
      <svg class="footer__icon footer__icon_map">
        <use xlink:href="../../../assets/img/sprite.svg#location-icon"></use>
      </svg>
      <span class="link footer__text">map</span>
    </div>
  </div>
  <div class="footer__social-media">
    <a class="link" href="https://www.instagram.com/denverhairdesign/" target="_blank">
      <svg class="footer__icon">
        <use xlink:href="../../../assets/img/sprite.svg#instagram-icon"></use>
      </svg>
    </a>
    <a class="link" href="http://facebook.com/people/Denver-Hair-Design/100021257354699/" target="_blank">
      <svg class="footer__icon">
        <use xlink:href="../../../assets/img/sprite.svg#facebook-icon"></use>
      </svg>
    </a>
  </div>
