<div class="footer__contact-info">
  <svg class="footer__icon">
    <use xlink:href="../../../assets/img/sprite.svg#phone-icon"></use>
  </svg>
  <span class="footer__text">720.297.7593</span>
  <svg class="footer__icon">
    <use xlink:href="../../../assets/img/sprite.svg#location-icon"></use>
  </svg>
  <span class="footer__text">Map</span>
</div>
<div class="footer__social-media">
  <svg class="footer__icon">
    <use xlink:href="../../../assets/img/sprite.svg#instagram-icon"></use>
  </svg>
  <svg class="footer__icon">
    <use xlink:href="../../../assets/img/sprite.svg#facebook-icon"></use>
  </svg>
</div>
