<div class="footer__contact-info">
  <div class="footer__button">
    <svg class="footer__icon">
      <use xlink:href="../../../assets/img/sprite.svg#phone-icon"></use>
    </svg>
    <span class="footer__text">
      <a href="tel:1-720-297-7593">720.297.7593</a>
    </span>
  </div>
  <div class="footer__button">
    <svg class="footer__icon">
      <use xlink:href="../../../assets/img/sprite.svg#location-icon"></use>
    </svg>
    <span class="footer__text">
      <a href="https://goo.gl/maps/7UZhTFCok73zdSRh6" target="_blank">map</a>
    </span>
  </div>
</div>
<div class="footer__social-media">
  <a href="https://www.instagram.com/denverhairdesign/" target="_blank">
    <svg class="footer__icon">
      <use xlink:href="../../../assets/img/sprite.svg#instagram-icon"></use>
    </svg></a>
  <a href="http://facebook.com/people/Denver-Hair-Design/100021257354699/" target="_blank">
    <svg class="footer__icon">
      <use xlink:href="../../../assets/img/sprite.svg#facebook-icon"></use>
    </svg></a>
</div>
