// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------

/// Event wrapper
/// @author Harry Roberts
/// @param {Bool} $self [false] - Whether or not to include current selector
/// @link https://twitter.com/csswizardry/status/478938530342006784 Original tweet from Harry Roberts
@mixin on-event($self: false) {
  @if $self {
    &,
    &:hover,
    &:active,
    &:focus,
    &:focus-within {
      @content;
    }
  } @else {
    &:hover,
    &:active,
    &:focus,
    &:focus-within {
      @content;
    }
  }
}

@mixin dhdGrid {
  display: grid;
  gap: var(--grid-gap);
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas: "col-1 col-2 col-3 col-4 col-5 col-6 col-7 col-8 col-9 col-10 col-11 col-12";
  @include respond(desktop) {
    grid-template-columns: 2.5fr repeat(12, 1fr) 2.5fr;
    grid-template-areas: " . col-1 col-2 col-3 col-4 col-5 col-6 col-7 col-8 col-9 col-10 col-11 col-12 . ";
  }
}

@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin backgroundWithImage(
  $backgroundImage: false,
  $backgroundBlendMode: multiply,
  $backgroundSize: cover,
  $backgroundPosition: center
) {
  @if $backgroundImage {
    background-image: $backgroundImage;
    background-size: $backgroundSize;
    background-position: $backgroundPosition;
    background-blend-mode: $backgroundBlendMode;
  }
}

@mixin backgroundGradientWithImage(
  $colorOne: var(--color-home-gradient-1),
  $colorTwo: var(--color-home-gradient-2),
  $backgroundImage: false,
  $backgroundSize: cover,
  $backgroundPosition: center,
  $backgroundBlendMode: multiply,
  $gradientOpacity: 0.6
) {
  @if $backgroundImage {
    background-image: linear-gradient(to bottom, $colorOne, $colorTwo),
      $backgroundImage;
    background-size: $backgroundSize;
    background-position: $backgroundPosition;
    background-blend-mode: $backgroundBlendMode;
  } @else {
    background-image: linear-gradient(
      to bottom right,
      rgba(var(--rgb-primary-dark), 0),
      var(--color-primary-dark)
    );
  }
}

// MEDIA QUERY MANAGER
// 0 - 600px:      Phone
// 600 - 900px:    Tablet portrait
// 900 - 1200px:   Tablet landscape
// [1200 - 1800] is where our normal styles apply
// 1800px + :      Big desktop

// ORDER: Base + typography > general layout + grid > page layout > components

// 1em = 16px

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (min-width: 600px) {
      @content;
    }
  }

  @if $breakpoint == beyondMobileWidth {
    @media only screen and (min-width: 640px) {
      @content;
    }
  }

  @if $breakpoint == tablet {
    @media only screen and (min-width: 760px) {
      @content;
    }
  }

  @if $breakpoint == tabletLandscape {
    @media only screen and (min-width: 900px) {
      @content;
    }
  }

  @if $breakpoint == desktop {
    @media only screen and (min-width: 1300px) {
      @content;
    }
  }
}

@mixin iconDoIt($fill: var(--color-white), $padding: 1.2em, $fontSize: 9px) {
  @include flexCenter();
  flex: 0 0 var(--hit-zone);
  width: var(--hit-zone);
  height: var(--hit-zone);
  font-size: $fontSize;
  padding: $padding;
  fill: $fill;
}

@mixin blurBackground($opacity: 0.9, $backgroundColor: var(--rgb-primary-dark), $blurskee: 10px) {
  background-color: rgba($backgroundColor, $opacity);
  backdrop-filter: blur($blurskee);
}
