// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------

/// Event wrapper
/// @author Harry Roberts
/// @param {Bool} $self [false] - Whether or not to include current selector
/// @link https://twitter.com/csswizardry/status/478938530342006784 Original tweet from Harry Roberts
@mixin on-event($self: false) {
  @if $self {

    &,
    &:hover,
    &:active,
    &:focus,
    &:focus-within {
      @content;
    }
  }

  @else {

    &:hover,
    &:active,
    &:focus,
    &:focus-within {
      @content;
    }
  }
}

/// Make a context based selector a little more friendly
/// @author Kitty Giraudel
/// @param {String} $context
@mixin when-inside($context) {
  #{$context} & {
    @content;
  }
}

/// From advanced-css-course-master

@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin transparentGradient($opaqueSide: bottom) {
  background-image: linear-gradient(
    to $opaqueSide,
    rgba(var(--rgb-primary-dark), 0),
    var(--color-primary-dark)
  );
}


// MEDIA QUERY MANAGER
/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@mixin respond($breakpoint) {
  @if $breakpoint ==phone {
    @media only screen and (min-width: 37.5em) {
      @content
    }; //600px
  }

  @if $breakpoint ==tab-port {
    @media only screen and (min-width: 56.25em) {
      @content
    }; //900px
  }

  @if $breakpoint ==tab-land {
    @media only screen and (min-width: 75em) {
      @content
    }; //1200px
  }

  @if $breakpoint ==big-desktop {
    @media only screen and (max-width: 112.5em) {
      @content
    }; //1800
  }
}
