:root {
  --header-height: 8.5rem;
  --footer-height: 5rem;

  //

  --rgb-primary-dark: 50, 37, 41;
  --rgb-primary-light: 204 179 214;
  --rgb-primary-accent: 235, 47, 100;

  //

  --color-primary: rgb(107 66 123);
  --color-primary-light: rgb(var(--rgb-primary-light));
  --color-primary-dark: rgb(var(--rgb-primary-dark));
  --color-primary-accent: rgb(var(--rgb-primary-accent));
  // --color-primary-gradient:

  --color-white: #ffffff;

  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;

  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: rgb(51, 63, 62);

  --color-overlay-dark: rgb(0 0 0 / 60%);

  --color-home-gradient-1: rgba(200, 205, 104, 0.39);
  --color-home-gradient-2: rgba(91, 98, 50, 0.51);

  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, .3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, .06);

  --line: 1px solid var(--color-grey-light-2);
  --max-width: 1180px; // Container's maximum width

  --base-url: '/assets/'

  --color-primary-text: white;

  --hit-zone: 4.5rem;

  --main-nav-height: calc((var(--hit-zone) * 5) + 20px);
  --page-container-height: calc(100vh - var(--footer-height) - var(--header-height) - var(--hit-zone));

  --spacing-main: .5rem;
}
