:root {
  @media only screen and (min-width: 400px) {
    --header-height: 10rem;
    --page-container-height: calc(
      100vh - var(--footer-height) - var(--header-height) -
        var(--main-nav-height-web)
    );
  }
  @media only screen and (min-width: 640px) {
    // beyondMobileWidth
    --spacing-main: 2rem;
    --page-element-margin: 4.9rem;
    --full-page-column-span: col-3 / col-10;
    --grid-gap: 1.5rem;
  }

  --header-height: 8.5rem;
  --footer-height: 5rem;
  --wacky-var: 40rem;

  // multiply by number of nav items (currently 4 without "gallery")
  --main-nav-height: calc((var(--hit-zone) * 4) + 20px);
  --main-nav-height-web: calc(var(--hit-zone) * 1.3);
  --page-container-height: calc(
    100vh - var(--footer-height) - var(--header-height) -
      var(--collapsed-container-height)
  );
  --collapsed-container-height: calc(var(--hit-zone) * 1.3);

  --page-element-margin: 0.5rem;

  --full-page-column-span: col-1 / col-12;

  --grid-gap: 0.5rem;
  --spacing-main: 0.5rem;
  --hit-zone: 4.5rem;

  // PRIMARY COLORS:
  // --color-primary: rgb(107 66 123);
  --rgb-primary: 86 104 159;
  --rgb-primary-dark: 78 91 136;
  --rgb-primary-ultra-dark: 18, 26, 52;
  --rgb-primary-light: 151 165 216;
  --rgb-primary-ultra-light: 306 31 97;
  --rgb-primary-accent: 235, 47, 100;

  --rgb-primary-purple: 102 78 136;
  --rgb-primary-seafoam: 78 136 136;
  --rgb-primary-slate: 78 111 136;

  --color-primary: rgb(var(--rgb-primary));
  --color-primary-light: rgb(var(--rgb-primary-light));
  --color-primary-ultra-light: rgb(var(--rgb-primary-ultra-light));
  --color-primary-dark: rgb(var(--rgb-primary-dark));
  --color-primary-dark-transp: rgb(var(--rgb-primary-dark) / 70%);
  --color-primary-ultra-dark: rgb(var(--rgb-primary-ultra-dark));
  --color-primary-ultra-dark-transp: rgb(var(--rgb-primary-ultra-dark) / 70%);

  //SECONDARY COLORS:
  --rgb-secondary: 106 38 38;
  --rgb-secondary-dark: 50, 37, 41;
  --rgb-secondary-light: 151 165 216;
  --rgb-secondary-ultra-light: 306 31 97;
  --rgb-secondary-accent: 235, 47, 100;
  //
  --color-secondary: rgb(var(--rgb-secondary));

  --color-white: #ffffff;

  //

  --color-home-gradient-1: rgba(200, 205, 104, 0.39);
  --color-home-gradient-2: rgba(91, 98, 50, 0.51);

  --color-page-gradient-1: rgba(230, 117, 17, 0.33);
  --color-page-gradient-2: rgba(9, 28, 20, 0.62);
}
