/* Color Theme Swatches in HSLA */
$Web-Site-1-hsla: hsla(205, 30, 47, 1);
$Web-Site-2-hsla: hsla(244, 30, 47, 1);
$Web-Site-3-hsla: hsla(
  224,
  30,
  47,
  1
); // primary from https://color.adobe.com/mythemes
$Web-Site-4-hsla: hsla(187, 30, 47, 1);
$Web-Site-5-hsla: hsla(263, 30, 47, 1);
$Web-Site-6-hsla: hsla(224, 9, 58, 1);

:root {
  --app-background-image: url('/assets/img/pages/home_1.jpg');
  @media only screen and (min-width: 400px) {
    --header-height: 10rem;
    --grid-gap: 1rem;
    --spacing-main: 1rem;
    --page-container-height: calc(
      100vh - var(--footer-height) - var(--header-height) -
        var(--main-nav-height-web)
    );
  }

  @media only screen and (min-width: 640px) {
    // beyondMobileWidth
    --spacing-main: 2rem;
    --page-element-margin: 4.9rem;
    --grid-gap: 1.5rem;
  }

  // --border-radius: 0.9rem;
  --border-width: 3px;
  --border-radius: 0;
  --text-shadow: 1px 3px 3px black;

  --header-height: 8.5rem;
  --footer-height: 5rem;
  --page-width-max: 120rem;
  --page-width-min: 18rem;

  // multiply by number of nav items (currently 4 without "gallery")
  --main-nav-height: calc((var(--hit-zone) * 4) + 20px);
  --main-nav-height-web: calc(var(--hit-zone) * 1.3);
  --page-container-height: calc(
    100vh - var(--footer-height) - var(--header-height) -
      var(--collapsed-container-height)
  );
  --collapsed-container-height: calc(var(--hit-zone) * 1.3);

  --page-element-margin: 0.5rem;

  --full-page-column-span: col-start 1 / col-end 12;

  --grid-gap: .5rem;
  --spacing-main: .5rem;


  --hit-zone: 4.5rem;

  // PRIMARY COLORS:
  // --color-primary: rgb(107 66 123);
  --rgb-primary: 50, 74, 139;
  --rgb-primary-dark: 36, 54, 101;
  --rgb-primary-ultra-dark: 18, 26, 52;
  --rgb-primary-light: 90, 110, 175;
  --rgb-primary-ultra-light: 133, 149, 204;
  --rgb-primary-accent: 235, 47, 100;

  --rgb-primary-purple: 102, 78, 136;
  --rgb-primary-seafoam: 78, 136, 136;
  --rgb-primary-slate: 78, 111, 136;
  --rgb-primary-dark-slate: 48, 74, 110;
  // these below are not valid yet...
  // they were created by my friend, copilot
  --rgb-primary-amber: 136, 136, 78;
  --rgb-primary-rose: 136, 78, 78;

  --color-primary: rgb(var(--rgb-primary));
  --color-primary-light: rgb(var(--rgb-primary-light));
  --color-primary-ultra-light: rgb(var(--rgb-primary-ultra-light));
  --color-primary-dark: rgb(var(--rgb-primary-dark));
  --color-primary-ultra-dark: rgb(var(--rgb-primary-ultra-dark));
  //
  --color-primary-purple: rgb(var(--rgb-primary-purple));
  --color-primary-seafoam: rgb(var(--rgb-primary-seafoam));
  --color-primary-slate: rgb(var(--rgb-primary-slate));
  --color-primary-dark-slate: rgb(var(--rgb-primary-dark-slate));

  //SECONDARY COLORS:
  // --rgb-secondary: 85, 149, 158;
  // --rgb-secondary: 255, 173, 0;
  // --rgb-secondary: 174, 140, 77;
  --rgb-secondary: 50, 119, 139;
  --rgb-secondary-dark: 50, 37, 41;
  --rgb-secondary-ultra-dark: 52, 44, 18;
  // these below are not valid yet...
  // need to base them on the above ^^^
  --rgb-secondary-dark: 50, 37, 41;
  --rgb-secondary-light: 151 165 216;
  --rgb-secondary-ultra-light: 306 31 97;
  --rgb-secondary-accent: 235, 47, 100;
  //
  --color-secondary: rgb(var(--rgb-secondary));
  --color-secondary-ultra-dark: rgb(var(--rgb-secondary-ultra-dark));

  --color-white: #ffffff;

  //

  --color-home-gradient-1: rgba(200, 205, 104, 0.39);
  --color-home-gradient-2: rgba(91, 98, 50, 0.51);

  --color-page-gradient-1: rgba(230, 117, 17, 0.33);
  --color-page-gradient-2: rgba(9, 28, 20, 0.62);
}
