.chair-rental {
  align-content: start;
  &__split-screen {
    height: var(--page-container-height);
    grid-template-rows: [row-start] minmax(20rem, 1fr) [row-end row-start] min-content [row-end];
    overflow: auto;
    @include respond(small) {
      height: calc(var(--page-container-height) - (var(--spacing-main) * 2))
    }
    @include respond(tablet) {
      grid-column: col-start 4 / col-end 9;
    }
  }
  &__hero {
    grid-column: 1 / -1;
  }
  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  @include respond(tablet) {
    // align-content: center;
  }
  @include respond(desktop) {
    padding: calc(var(--spacing-main) * 2) var(--spacing-main);
  }
}
