.home {
  @include flexCenter();
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: calc(100vh - var(--footer-height) - var(--main-nav-height));

  &__icon {
    fill: white;
    height: 60%;
    margin: 0 auto;
  }
}
