.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: calc(
    100dvh -
      (
        var(--footer-height) + var(--main-nav-height) + var(--header-height) +
          1rem
      )
  );
  padding: 0;
  min-height: var(--main-nav-height);
  &__logo {
    flex: 1 0 auto;
    fill: var(--color-white);
    max-height: 30rem;
    margin: 0 auto;
    padding: 0.5rem;
    background-color: var(--color-primary-dark);
  }
  @include respond(beyondMobileWidth) {
    justify-content: center;
    height: calc(var(--page-container-height) - var(--header-height));
  }
}
