.home {
  height: calc(100vh - var(--footer-height) - var(--main-nav-height));
  @include flexCenter();
  justify-content: flex-start;
  padding: 0;

  &__icon {
    fill: var(--color-white);
    height: 60%;
    max-height: 30rem;
    margin: 0 auto;
  }
}

