.products {
  align-content: start;
  &__listing {
    grid-template-rows: repeat(
      2,
      [row-start] minmax(min-content, 1fr) [row-end]
    );
    height: var(--page-container-height);
    @include respond(tablet) {
      grid-column: col-start 4 / col-end 9;
      height: auto;
    }
  }
  &__item {
    grid-column: span 4;
    @include respond(phone) {
      grid-column: span 2;
    }

    @include blurBackground(0, transparent, 27px);
    background-color: green;

  }
  @include respond(tablet) {
    align-content: center;
  }
}
