.products {
  align-content: start;
  &__listing {
    grid-template-rows:
      [row-start] 1fr [row-end row-start] minmax(min-content, 25rem)
      [row-end];
    justify-items: center;
    align-items: center;
    height: var(--page-container-height);
    @include respond(small) {
    }
    @include respond(phone) {
      height: calc(var(--page-container-height) - (var(--spacing-main) * 2));
    }
    @include respond(stubbyHeight) {
      // height: auto;
    }
  }
  &__item {
    display: block;
    object-fit: cover;
    fill: rgba(var(--rgb-color-white), 0.7);
    grid-column: span 4;
    width: 80%;
    @include respond(small) {
      width: 100%;
    }
    @include respond(tablet) {
      &_1 {
        grid-column: col-start 3 / col-start 5;
      }
      &_2 {
        grid-column: col-start 6 / col-start 8;
      }
      &_3 {
        grid-column: col-start 9 / col-start 11;
      }
    }
  }

  @include respond(phone) {
    align-content: center;
  }
}
