.services {
  @include backgroundWithImage("/assets/img/pages/services_1.jpg");
  &__item {
    display: flex;
    align-items: flex-end;
    line-height: 1;
    margin-bottom: 1.8rem;
  }

  &__name {
    font-weight: 500;
    flex: 0 1 auto;
  }

  &__elipses {
    flex: 1 1 auto;
    border-bottom: 2px dotted var(--color-primary-light);
    margin: 0 1.3rem 0 1rem;
  }

  &__price {
    font-family: "big-caslon-fb", serif;
    font-weight: 700;
    font-style: italic;
    font-size: 0.7em;
    flex: 0 1 auto;
    color: var(--color-primary-light);
  }
}
