.services {
  align-content: start;
  &__listing {
    grid-column: var(--full-page-column-span);
  }
  &__item {
    grid-column: 1 / -1;
    grid-template-columns: subgrid;
    grid-template-rows: min-content repeat(3, auto min-content);
    &_1.services__item {
      grid-column: 1 / -1;
      .text-block_content {
        grid-column: col-start 3 / col-end 10;
        @include respond(phone) {
          grid-column: 1 / -1;
        }
      }
      .text-block_list-item {
        grid-column: span 4;
        @include respond(tablet) {
          grid-column: span 2;
        }
      }
      @include respond(tablet) {
        grid-column: span 4;
      }
    }
    @include respond(phone) {
      // grid-column: span 6;
    }
    @include respond(tablet) {
      grid-column: span 4;
    }
    // override defaults from _typography.scss
    .text-block {
      &_content {
        grid-column: 1 / -1;
        grid-template-rows: repeat(3, min-content);
        grid-template-columns: subgrid;
        grid-auto-flow: row;
        @include respond(phone) {
          grid-auto-flow: column;
        }
      }
    }
    &_2 {
      // I need to include ".text-block_list-item" here to provide the correct specificity
      .text-block_list-item.text-block_list-item_3 {
        grid-column: 1 / -1; // to center "Brow and lash tinting" line when mobile
        text-align: center;
        @include respond(phone) {
          grid-column: 1 / -1;
          text-align: left;
        }
      }
    }
  }
  @include respond(tablet) {
    align-content: center;
  }
}
