.stylists {
  .thumbnail {
    grid-column: span 6;
    grid-row: auto;
    @include respond(beyondMobileWidth) {
      grid-column: span 4;
    }
    @include respond(tablet) {
      grid-column: span 3;
    }
  }
}

