.stylists {
  padding: var(--spacing-main);
  // background-color: rgba(var(--rgb-primary-dark), 0.4);
  @include respond(beyondMobileWidth) {
    padding: var(--spacing-main) 0;
  }
  @include respond(tablet) {
    padding: calc(2 * var(--spacing-main)) 0
  }
  .thumbnail {
    grid-row: auto;
    grid-column: span 12;
    @include respond(extraSmall) {
      grid-column: span 6;
    }
    @include respond(beyondMobileWidth) {
      grid-column: span 4;
    }
    @include respond(tablet) {
      grid-column: span 3;
    }
  }
  .page__subgrid {
    padding: 0;
    margin: 0;
    background-color: transparent;
    &::before {
      content: "";
      background-color: rgba(var(--rgb-primary-dark), 0.4);
      position: absolute;
      left: calc(-1 * var(--spacing-main));
      right: calc(-1 * var(--spacing-main));
      bottom: calc(-1 * var(--spacing-main));
      top: calc(-1 * var(--spacing-main));
      z-index: -1;
    }
  }
}

.stylist {
  &__name {
    cursor: pointer;
    flex: 1 1 auto;
    height: calc(var(--hit-zone) * 2);
    padding: calc(var(--spacing-main) * 2);
    line-height: 1;
    font-family: "Red Hat Display";

    &_first {
      color: var(--color-white);
      font-size: 1.6em;
    }

    &_last {
      color: var(--color-primary-grey);
      font: normal 300 1.3em / 1em "Neuton", serif;
      @include respond(small) {
        // font-size: 2.3rem;
      }
    }

    @include respond(small) {
      padding: var(--spacing-main) var(--spacing-main)
        calc(var(--spacing-main) * 2);
    }

    @include respond(beyondMobileWidth) {
      padding: calc(var(--spacing-main) / 2) calc(var(--spacing-main) / 2)
        var(--spacing-main);
    }
  }
}
