<div class="page__subgrid products__listing">
  <div class="text-block text-block_statement text-block_statement_above">
    <p class="paragraph">Our knowledgeable staff is here to help you choose the right products to
      achieve and maintain your desired look.</p>
    <p class="paragraph">Elevate your hair care routine with our expertly curated collection.</p>
  </div>
  @for (brand of productBrands; track brand; let i = $index) {
  @if (brand.showInListing){
  <svg [class]="'products__item products__item_' + (i+1)">
    <use
      attr.href="../../../assets/img/svg/product-logos-sprite.svg#{{ brand.brandName.replace(' ', '-').toLowerCase() }}">
    </use>
  </svg>
  }
  }
</div>
