<div class="page__subgrid products__listing">
  <div class="text-block text-block_statement text-block_statement_above">
    <p class="paragraph">Our knowledgeable staff is here to help you choose the right products to
      achieve and maintain your desired look.</p>
    <p class="paragraph">Elevate your hair care routine with our expertly curated collection.</p>
  </div>
  <svg class="products__item products__item_1">
    <use href="../../../assets/img/svg/product-logos-sprite.svg#oribe">
    </use>
  </svg>
  <svg class="products__item products__item_2">
    <use href="../../../assets/img/svg/product-logos-sprite.svg#kevin-murphy">
    </use>
  </svg>
  <svg class="products__item products__item_3">
    <use href="../../../assets/img/svg/product-logos-sprite.svg#voce">
    </use>
  </svg>
</div>
