*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Courier New", Courier, monospace;
  font-size: 1.8rem;
  color: white;
  background: #5363ae;
}
.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* mobile viewport bug fix */
  min-height: -webkit-fill-available;
  max-width: 50rem;
  margin: 0 auto;
  padding: 0 2rem;
  &_coming-soon {
    justify-content: center;
    align-items: center;
    color: white;
    .logo {
      fill: white;
      width: 80%;
      max-width: 14rem;
      margin-bottom: 6rem;
    }
    .copy_message {
      text-align: center;
    }
  }
}

// move to typography
.copy {
  display: flex;
  flex-direction: column;
  &_message {
    align-self: stretch;
  }
}
.title {
  font-weight: bold;
  font-size: 2.8rem;
}
.body {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  padding: 2rem 0;
  margin: 2rem 0;
}
.phone {
  font-weight: bold;
}
