<header class="header" [ngClass]="{'header_home': isHomePage}" routerLink="/">
  <button (click)="openModalView()"></button>
  <svg class="header__logo">
    <use xlink:href="../assets/img/sprite.svg#header-logo"></use>
  </svg>
</header>
<div class="page-container" [@routeAnimations]="getAnimationPageName()">
  <dhd-page-overlay [pageName]="pageName" [pageBlurredForMobileNavigation]="pageBlurredForMobileNavigation && !isHomePage"></dhd-page-overlay>
  <router-outlet></router-outlet>
</div>
<dhd-main-nav [ngClass]="{'main-nav_home': isHomePage}" [isWebWidthNBeyond]="isWebWidthNBeyond" [expanded]="isHomePage"
  (expandedChange)="togglePageForMobileNavigation($event)"></dhd-main-nav>
<dhd-footer [ngClass]="{'footer_home': isHomePage}"></dhd-footer>
