<a class="main-nav__link" routerLinkActive="main-nav__link_active" routerLink="/stylists" (click)="toggleExpanded()">Stylists</a>
<a class="main-nav__link" routerLinkActive="main-nav__link_active" routerLink="/services" (click)="toggleExpanded()">Services</a>
<a class="main-nav__link" routerLinkActive="main-nav__link_active" routerLink="/products" (click)="toggleExpanded()">Products</a>
<a class="main-nav__link" routerLinkActive="main-nav__link_active" routerLink="/gallery" (click)="toggleExpanded()">Gallery</a>
<a class="main-nav__link" routerLinkActive="main-nav__link_active" routerLink="/chair-rental" (click)="toggleExpanded()">Chair Rental</a>
