<div class="text-block text-block_statement">
  Pricing listed below varies, and is determined by the stylist performing your service.
</div>
<div class="list">
  <div class="list__section" *ngFor="let serviceType of allServices; index as i">
    <div class="list__section-title">{{serviceType.type}}</div>
    <div class="services__item" *ngFor="let service of allServices[i].salonServices">
      <div class="services__name">{{service.name}}</div>
      <div class="services__elipses"></div>
      <div class="services__price">from {{service.startingPrice | currency}}</div>
    </div>
  </div>
</div>
