<div class="page__subgrid chair-rental__split-screen">
  <figure class="chair-rental__hero">
     <img
      class="chair-rental__image"
      ngSrc="../../../assets/img/pages/chair-rental_1.jpg"
      alt="Chair Rental"
      width="800"
      height="600"
      priority
    >
  </figure>
  <div class="text-block text-block_statement text-block_statement_below">
    <p class="paragraph">Join our team of professional stylists in a supportive and well-equipped environment. Our
      amenities include a fully stocked back bar, access to premium styling products, and exclusive perks for your clients.
      We offer plenty of parking for both stylists and clients, along with attractive incentives for retail sales.</p>
    <p class="paragraph">Elevate your business and provide top-notch service to your clients in our welcoming and
      professional salon space.</p>
  </div>
</div>
