*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/**
 * Set up a decent box model on the root element
 */
html {
  font-size: 62.5%;
  box-sizing: border-box;
  height: -webkit-fill-available;
}

body {
  box-sizing: border-box;
  height: 100vh;
  /* mobile viewport bug fix */
  height: -webkit-fill-available;
  background-color: var(--color-primary-dark);

  @include respond(tab-port) {
    padding: 0;
  }
}

::selection {
  background-color: var(--color-primary);
  color: var(--color-white);
}


.modal-tester {
  background-color: red;
  color: white;
  font-weight: 700;
  padding: 2rem;
  z-index: 90;
  position: absolute;
  width: 100vw;
  text-align: center;
}
