/**
 * Basic typography style for copy text
 */
// Neuton weights
// extralight  : font-weight: 200;
// light       : font-weight: 300;
// regular     : font-weight: 400;
// bold        : font-weight: 700;
// extrabold   : font-weight: 800;

// "League Spartan" weights
// 100 - 900
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

body {
  color: var(--color-white);
  font: normal normal 300 160% / 1.4 "Neuton", serif;
}
// look into using the free limerick_serial (google it) - looks a lot like futura
.text {
  &_title {
    font-family: "League Spartan";
    font-weight: 300;
    font-style: normal;
    text-transform: uppercase;
    font-size: 2.2rem;
    line-height: 1;
    @include respond(phone) {
      font-size: 2.5rem;
    }
  }
}

.text-block {
  &_title {
    font-weight: 500;
    padding-bottom: 0.5rem;
    margin: 1rem 0 .5rem;
    border-bottom: 1px solid var(--color-primary-ultra-light);
    @include respond(phone) {
      margin: 2rem 0;
    }
  }
  &_statement {
    grid-column: 1 / -1;
    border: 2px solid white;
    padding: 2rem;
    font-size: 2.3rem;
    line-height: 1.1em;
    backdrop-filter: blur(10px);
    margin: var(--page-element-margin);
    margin-bottom: calc(var(--page-element-margin) * 0.5);

    @include respond(phone) {
      margin: var(--page-element-margin) auto;
    }
    @include respond(beyondMobileWidth) {
      font-size: 4.6rem;
    }
  }
  &_note {
    grid-column: 1 / -1;
    height: fit-content;
    backdrop-filter: blur(27px);
    @include blurBackground(0, transparent, 27px);
    font-size: 1.4em;
    font-weight: 300;
    color: var(--color-white);
    // text-shadow: var(--text-shadow);
    padding: 2rem;
    text-align: center;

    @include respond(tablet) {
      grid-column: 2 / -2;
    }

    @include respond(desktop) {
      grid-column: 3 / -3;
    }
  }
  &_section {
    display: flex;
    flex-direction: column;
    font-family: "Neuton";
    font-size: 2.3rem;
    padding: 1.7rem;
    @include blurBackground();

    &:last-child {
      margin-bottom: 0;
    }

    @include respond(phone) {
      padding: 2.5rem;
    }
    @include respond(beyondMobileWidth) {
    }
  }
  &_section-content {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.grid {
  &_column {
    width: calc(100vw / 6 + 1px);
  }
}
