/**
 * Basic typography style for copy text
 */

body {
  color: var(--color-white);
  font: normal normal 400 160% / 1.4 "p22-stickley-pro-text", serif;
}

.text-block {
  &_statement {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(var(--page-container-height) - 2rem);
    border: 2px solid white;
    margin: 1rem;
    padding: 2rem;
    text-align: center;
    font-size: 2.8rem;
    line-height: 1.2;
    backdrop-filter: blur(10px);
  }
}

.list {
  margin: 0 1rem 1rem;
  &__section {
    font-family: "p22-stickley-pro-headline";
    font-size: 2.3rem;
    margin-bottom: .5rem;
    padding: 2.5rem;
    background: var(--color-overlay-dark);
    backdrop-filter: blur(10px);
    &:last-child {
      margin-bottom: 0;
    }

    &-title {
      font-family: "p22-stickley-pro-headline", serif;
      font-weight: 500;
      font-style: normal;
      text-transform: uppercase;
      text-align: center;
      font-size: 2.5rem;
      line-height: 1;
      padding-bottom: 0.5rem;
      margin: 0.6rem 0 2rem;
      border-bottom: 1px solid hsl(0deg 0% 100% / 37%)
    }
  }
}
