@use "sass:color";

body {
  color: var(--color-white);
  font: normal normal 300 160% / 1.4 "Red Hat Display", serif;
}

.paragraph {
  font-size: 0.8em;
  line-height: 1.5em;
  font-weight: 400;
  color: var(--color-white);
  &:not(:last-child) {
    margin-bottom: 0.7em;
  }
  @include respond(phone) {
    font-size: 0.9em;
  }
}

.link {
  font-family: "Red Hat Display";
  text-decoration: none;
  color: var(--color-white);
}

// look into using the free limerick_serial (google it) - looks a lot like futura
.text {
  &_title {
    font-family: "Red Hat Text";
    font-weight: 300;
    font-style: normal;
    text-transform: uppercase;
    font-size: 2.2rem;
    line-height: 1;
    @include respond(phone) {
      font-size: 2.5rem;
    }
  }
}

.text-block {
  &_title {
    grid-column: 1 / -1;
    text-align: center;
    padding-bottom: 0.9rem;
    margin: 1rem 0 0.75rem;
    border-image-slice: 1;
    border-bottom: var(--border-width) solid var(--color-primary-grey);
    border-image-source: linear-gradient(
      to right,
      transparent,
      var(--color-primary-grey) 25%,
      var(--color-primary-grey) 75%,
      transparent
    );
    transition: border-image-source 0.3s;
    @include respond(phone) {
      text-align: inherit;
      margin: 2rem 0 1rem;
      border-image-source: linear-gradient(
        to right,
        var(--color-primary-grey) 60%,
        transparent
      );
    }
  }
  &_statement {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: subgrid;
    font-size: 2.7rem;
    line-height: 1.1em;
    margin: calc(var(--spacing-main) * -1.5);
    padding: calc(var(--spacing-main) * 3.5);
    background-color: var(--color-primary-dark);
    background-image: url(/assets/img/svg/mandalaBG.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: right;
    background-blend-mode: hard-light;

    @include respond(phone) {
      padding: calc(var(--spacing-main) * 2);
      margin: 0;
      margin-bottom: calc(var(--spacing-main) / 2);
    }

    .paragraph {
      grid-column: col-start 1 / col-end 11;
    }

    @include respond(beyondMobileWidth) {
      font-size: 3.2rem;
    }
    &_above {
      margin-bottom: var(--spacing-main);
      @include respond(small) {
        margin-bottom: 0;
      }
    }
    &_below {
      // margin-top: var(--spacing-main);
      @include respond(small) {
        margin-top: 0;
      }
    }
  }
  &_note {
    grid-column: 1 / -1;
    font-size: 1.1em;
    font-weight: 300;
    color: var(--color-white);
    padding: 2rem;
    text-align: center;

    @include respond(tablet) {
      grid-column: 2 / -2;
    }

    @include respond(desktop) {
      grid-column: 3 / -3;
    }
  }
  &_section {
    display: grid;
    grid-template-columns: subgrid;
    font-family: "Neuton";
    font-size: 2.3rem;
    padding: 2.5rem var(--grid-gap);
    background-color: var(--color-primary-dark);
    @include respond(phone) {
      // align-items: flex-start;
    }
    @include respond(tablet) {
      padding: 1.7rem;
    }
    @include respond(beyondMobileWidth) {
    }
  }
  &_content {
    display: grid;
    width: max-content;
    grid-template-columns: 1fr;
    grid-auto-flow: content;
    margin: 1rem 0;
    gap: var(--grid-gap);
    @include respond(tablet) {
      margin-bottom: 4rem;
    }
  }
  &_list-item {
    grid-column: 1 / -1;
    text-align: center;
    font-size: 1em;
    line-height: 1em;
    font-weight: 200;
    font-family: "Neuton", serif;
    color: var(--color-primary-grey);
    @include respond(phone) {
      font-size: 2.3rem;
      text-align: left;
    }
  }
}
